.uppercase{
    font-weight: 900;
}
#moreAboutMeBtn::before{
    left: 100px;
    top: 30px;
    transform: translate(-50%, -50%);
    transition: width 500ms, height 500ms;
}

#homeIcon:hover #home{
    background-color: red;
}
*,html,body{
    overflow-x: hidden;
    overflow-y: hidden;
}

@keyframes flashyBounce {
  0%, 100% {
    transform: translateY(0) rotate(0deg) scale(1);
  }
  25% {
    transform: translateY(-5px) rotate(5deg) scale(1.1);
  }
  50% {
    transform: translateY(-10px) rotate(-5deg) scale(1.2);
  }
  75% {
    transform: translateY(-5px) rotate(5deg) scale(1.1);
  }
}


.flashy-bounce {
  animation: flashyBounce 2s infinite;
  transition: all 0.3s ease-in-out;
}