/* General settings for animation and transitions */
*,
body,
p,
h1,
h2,
h3,
html,
.personal,
.gap-y-4,
.secondNavBar,
#homeIcon:not(#anim) {
    transition: all 300ms;
}

/* Light mode */
body.lightMode {
    background-color: rgb(240, 240, 240);
}

/* Dark mode */
body.darkMode {
    background-color: #131417;
}

/* Text color adjustments in light mode */
body.lightMode .leading-loose {
    color: #131417;
}

body.lightMode .text-left {
    color: #414141;
}

body.lightMode #moreAboutMeBtn {
    color: #585858;
}

body.lightMode .gap-y-4 {
    background-color: rgba(186, 189, 189, 0.575);
}

/* Background color settings in light mode */
body.lightMode .secondNavBar,
body.lightMode .aboutSecondNavBar,
body.lightMode .projectNavBar,
body.lightMode .toolsNavBar {
    background-color: rgb(186, 189, 189);
}

body.lightMode .text-gray-300 {
    color: black;
}

body.lightMode .info {
    color: rgb(49, 49, 49);
}

body.lightMode #myWorks {
    color: rgba(104, 104, 104, 0.445);
}

/* Paragraph color settings in light mode */
body.lightMode .aboutParagraph,
body.lightMode .bestParagraph,
body.lightMode .regularParagraph,
body.lightMode .myParagraph {
    color: rgb(92, 92, 92);
}

/* Background and color adjustments for various elements */
body.lightMode .rounded-3xl {
    background-color: rgba(226, 226, 226, 0.616);
    color: rgb(7, 7, 7);
}

body.lightMode .inner-circle {
    background-color: rgb(175, 175, 175);
}

body.lightMode .select-none {
    background: rgb(71, 71, 71);
}

body.lightMode .or {
    color: black;
}

body.darkMode .or {
    color:white
}
body.lightMode .personal {
    color: black;
}

body.darkMode .personal {
    color:white
}

/* Home icon settings */
body.lightMode #homeIcon:not(.firstHomeIcon):not(.secondFirstHomeIcon):not(.secondAboutIcon):not(.secondProjectHomeIcon):not(.toolsHomeIcon) {
    background-color: rgb(160, 160, 160);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    transition-duration: 100ms;
    width: 50px;
    height: 50px;
    font-size: 20px;
    position: relative;
    z-index: 50;
}

body.lightMode #homeIcon:hover {
    background-color: #ffb400;
}

/* Theme button settings */
.themeButton {
    transition: transform 0.3s ease-in-out;
}

.themeButton:active {
    transform: rotate(360deg);
}